@{
    ViewBag.Title = "ueditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="menu">
    <li>@Html.ActionLink("UEditor Test", "UEditor", "Home")</li>
    <li>@Html.ActionLink("在线阅读 Test", "OnlineRead", "Home")</li>
</ul>