@{
    ViewBag.Title = "OnlineRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OnlineRead</h2>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="400" height="100">
    <param name="movie" value="clock.swf" />
    <param name="quality" value="high" />
    <embed src="~/temp/demo.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="100"></embed>
</object>