@{
    ViewBag.Title = "wdDatePicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/My97DatePicker/WdatePicker.js"></script>

<h2>My97DatePicker</h2>
<input class="Wdate" type="text" onclick="WdatePicker()"> <font color=red>&lt;- 点我弹出日期控件</font>